.adad{
    color: yellow;
    background-color: aqua;
    border-radius: 20 px;
}
.ddd{
    font-size: 20 px;
    color: yellow;
    background-color: aqua;
    border-radius: 20 px;
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fff{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dddd{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ffff{
    font-size: 20 px;
    color: yellow;
    background-color: aqua;
    border-radius: 20 px;
}
.rrr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rrrr{
    font-size: 20 px;
    color: yellow;
    background-color: aqua;
    border-radius: 20 px;
}
.dddd{
    opacity: 0,1;
}
.dddd:hover{
    opacity: 1;
}
.fff{
    opacity: 0,1;
}
.fff:hover{
    opacity: 1;
}
.rrr{
    opacity: 0,1;
}
.rrr:hover{
    opacity: 1;
}
